<?xml version="1.0"?>
<config>
    <modules>
        <Zippo_Search>
            <version>1.1.0</version>
        </Zippo_Search>
    </modules>	
    <global>
        <blocks>
            <zippo_search>
                <class>Zippo_Search_Block</class>
            </zippo_search>
        </blocks>
        <models>
            <zippo_search>
                <class>Zippo_Search_Model</class>
            </zippo_search>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <search>
                    <file>search.xml</file>
                </search>
            </updates>
        </layout>
        <routers>
            <search>
                <use>standard</use>
                <args>
                    <module>Zippo_Search</module>
                    <frontName>search</frontName>
                </args>
            </search>
        </routers>
    </frontend>
</config>