<?xml version="1.0"?>
<config>
    <modules>
        <Zippo_Custom>
            <version>1.1.0</version>
        </Zippo_Custom>
    </modules>	
    <global>
        <helpers>
            <zippo>
                <class>Zippo_Custom_Helper</class>
            </zippo>
        </helpers>  
    </global> 
    <frontend>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Zippo_Custom</module>
                    <frontName>zippo</frontName>
                </args>
            </custom>
        </routers>
    </frontend>   
</config>