<?xml version="1.0"?>
<config>
  <modules>
    <OnlineOrder_Email>
      <version>0.1.0</version>
    </OnlineOrder_Email>
  </modules>
  <frontend>
    <routers>
      <email>
        <use>standard</use>
          <args>
            <module>OnlineOrder_Email</module>
            <frontName>email</frontName>
          </args>
      </email>
    </routers>
		<layout>
		  <updates>
			<email>
			  <file>email.xml</file>
			</email>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <email>
        <class>OnlineOrder_Email_Helper</class>
      </email>
    </helpers>
	<blocks>
	  <email>
		<class>OnlineOrder_Email_Block</class>
	  </email>
	</blocks>
  </global>
</config> 