.scroll-pane-before,
.scroll-pane-after,
.scroll-pane-split,
.scroll-pane-os
{
    width: 90%;

    overflow: auto;
}
.horizontal-only
{
    height: auto;

}
.jspTrack{
    width:576px !important;
    overflow:hidden;
}